@import url ("https://fonts.google.com/specimen/Dancing+Script");
@import url ("https://fonts.google.com/specimen/Cedarville+Cursive?query=cursive+");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.banner
{
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(37, 192, 153, 0.459)),url(images/banner.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
    }
.navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
.navbar ul li a{
    text-decoration: none;
    color: rgb(227, 240, 241);
    text-transform: uppercase;

}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background:#009688 ;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    font-family:"Dancing Script";
    font-size: 70px;
    margin-top: 80px;
    color: rgb(234, 230, 236);

}
.content p{
    font-family:"Cedarville Cursive";
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: aliceblue;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #00968e;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid white;
    background: white;  
    transition:1s;
}
.services{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
p{
    color:blue;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.course{
    flex-basis: 31%;
    background: rgba(189, 187, 188, 0.575);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(73, 134, 119, 0)),url(images/new3.jpeg);
    background-size: cover;
    background-position: center;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course:hover{
    box-shadow: 0 0 20px 0px rgba(18, 204, 80, 0.753);
}
